@font-face {
    font-family: "Gabriola";
    src: url("fonts/Gabriola.ttf") format('truetype');
}
* {
    padding: 0;
    margin: 0;
    font-family: "Gabriola", sans-serif;
    font-size: 20px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    margin-left: 35%;
    width: 30%;
}
.containerItems {
    width: 45%;
}
.main-background {
    background: #FFFFFF;
}
.additional-background {
    background: #BBD9B2;
}
.accent {
    color: #2D6033;
}
.flex {
    display: flex;
}
.border {
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
}
.bigFontSize {
    font-size: 1.3em;
}
.div85 {
    width: 85%;
}
.div15 {
    width: 15%;
}
.div70 {
    width: 70%;
}
main a {
    text-decoration: none;
}
.warning {
    color: red;
}
input, select {
    margin: 10px;
}
.materials {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn {
    border-radius: 10px;
    margin: 10px;
    display: inline-block;
    padding: 10px;
    background-color: #BBD9B2;
    color: #2D6033;
}
.btnMaterial{
    border-radius: 10px;
    margin: 20px;
    display: inline-block;
    padding: 5px;
    background-color: #BBD9B2;
    color: #2D6033;
}
table{
    text-align: center;
    margin: 5px;
}
th {
    border: 1px solid black;
}
td {
    border: 1px solid black;
}
.labelFont {
    font-size: 48px;
}
.labelMaterial {
    font-size: 24px;
}
.logo {
    margin: 10px;
    display: flex;
    flex-direction: column;
}
